* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --blue-dark: hsl(238, 29%, 16%);
    --red-soft: hsl(14, 88%, 65%);
    --bg-violet: hsl(273, 75%, 66%);
    --bg-blue: hsl(240, 73%, 65%);
    --grayish-blue-dark: hsl(237, 12%, 33%);
    --grayish-blue: hsl(240, 6%, 50%);
    --grayish-blue-light: hsl(240, 5%, 91%);
}

html {
    font-size: 12px;
}

body {
    background: linear-gradient(var(--bg-violet), var(--bg-blue));
    height: 100%;
    min-height: 100vh;
    padding-top: 5rem;
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', sans-serif;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-card {
    width: 375px;
    margin-top: 100px;
    border-radius: 2rem;
    padding: 2.5rem 2.5rem 5rem 2.5rem;
    background-color: white;
    background-image: url('images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 50px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack {
    width: 86%;
    height: 9rem;
}

.up {
    top: -12.5rem;
    z-index: 2;
    width: 100%;
    position: relative;
}

.hidden {
    display: none;
}

.faq {
    width: 100%;
    z-index: 0;
}

h1 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

button {
    width: 100%;
    border: none;
    background-color: white;
    color: var(--grayish-blue-dark);
    font-size: 1.2rem;
    padding: 1.5rem 0;
    text-align: start;
    position: relative;
}

button:hover {
    cursor: pointer;
}

button:focus {
    color: var(--blue-dark);
    font-weight: 700;
}

button > img {
    position: absolute;
    right: 0;
    top: 45%;
    width: 1rem;
}

.answer {
    color: var(--grayish-blue);
    padding: 0 1.5rem 1.5rem 0;
    display: none;
}

hr {
    border: 0.1px solid var(--grayish-blue-light);
}

@media (min-width: 1000px) {
    .faq-card {
        width: 900px;
        padding: 0;
        position: relative;
        background-image: url('images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-size: 900px;
        background-position: -531px -280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .stack {
        width: 50%;
        height: 470px;
        overflow: hidden;
    }

    .up {
        width: 450px;
        top: 65px;
        left: -84px;
    }

    .box {
        display: block;
        width: 150px;
        position: absolute;
        top: 212px;
        left: -75px;
        z-index: 4;
    }

    .faq {
        width: 49%;
        padding: 5rem 0;
    }

    h1 {
        text-align: left;
    }

    ul {
        padding-right: 9rem;
    }
}
